* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 700px;
    background-color: #343a40;
    position: relative;

}

.navbar {
    width: 100%;
    height: 75px;
    background-color: #343A40;
    margin: auto;
    position: fixed;
    top: 0px;
    z-index: 1;
}


.logo {
    width: 50%;
    height: 75px;
    float: left;
}

.img {
    margin-top: 10px;
    margin-left: 5px;

}

.container {
    width: 100%;

    background-color: #eee;
    /* margin-left: 80px; */
    margin-top: 40px;
    background-position: center;
    /* position: relative; */

}

.container image {}

.select-box {

    bottom: 20px;
    position: absolute;
    left: 60px;
}

select {
    width: 300px;
    padding: 10px;
    /* appearance: none; */
    border-radius: 8px;
    border: 1px solid #343a40;
    background-color: #6c757d;
    outline: none;
    color: #fff;
}

.submit {
    position: absolute;
    right: 60px;
    bottom: 20px;

}

.submit-btn {
    padding: 10px;
    width: 200px;
    background-color: #ffc107;
    border: 1px solid #ffc107;
    border-radius: 10px;
    color: #fff;
}

.name {
    position: absolute;
    bottom: 20px;
    left: 430px;
}

.in-name {
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    border: 3px solid #fff;
}

.email {
    position: absolute;
    right: 360px;
    bottom: 20px;

}

.in-email {
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    border: 3px solid #fff;
}

.main2 {
    width: 100%;
    height: 700px;
    background-color: white;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
}

.title {
    display: flex;
    justify-content: center;

}

.title h1 {
    align-items: center;
    margin-top: 50px;
}

.subtitle {
    display: flex;
    justify-content: center;
}

.subtitle h3 {
    margin-top: 30px;
    width: 60%;

}

.imageback {
    width: 100%;
    height: 400px;
    justify-content: center;
    display: flex;
    margin: 0px;
    margin-right: -15px;
}

.imag1 img {
    max-width: 100%;
    margin: 20px;
    vertical-align: middle;
    border-radius: .25rem
}

.imag2 img {
    max-width: 100%;
    margin: 20px;
    vertical-align: middle;
    border-radius: .25rem
}

.imag3 img {
    max-width: 100%;
    margin: 20px;
    vertical-align: middle;
    border-radius: .25rem
}

.figure-caption {
    color: #6c757d;
    margin-left: 40px;
}

.card-img {
    width: 100%;
    display: flex;
    margin-top: 100px;
    position: relative;

}

.card-img img {
    width: 100%;
    background-position: center;
    /* align-items: center; */
    /* align-content: center; */
    margin: auto;

}


/* .img-font {
    position: absolute;
    justify-content: center;
    text-align: center;
    background-position: center;
    display: flex;
    justify-content: center;
} */

.img-font h1 {
    margin: 20px;
    font-weight: 500;
    color: #eee;
    line-height: 1.2;
    justify-content: center;
}

.img-font {
    position: absolute;
    margin: auto;
    text-align: center;
    left: 35%;
    top: 50%;


}

.btn-redmore {
    width: 200px;
    padding: 10px;
    color: #fff;
    background-color: #ffc107;
    border-radius: .25rem;
    border: 1px solid #fff;
}

.main3 {
    width: 100%;
    height: 400px;
    background-color: #fff;
    margin-top: 3pc;
    font-style: italic;
    font-size: 18px;
    box-sizing: border-box;

}

.fonttitle {
    width: 100%;
    /* height: 200px; */
    text-align: center;
    /* top: 20px; */
}

.subtitle {
    width: 100%;
    text-align: center;
}

.subtitle h2 {
    width: 80%;
}

.animals-div-parent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.images1 img {

    border: 2px solid #ff3d0036;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #00000042;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
}

.imaglion {

    border: 2px solid #ff3d0036;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #00000042;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
}

.imaglion:hover {
    filter: grayscale(1);
    transform: scale(1.03);

}

.animals2-div-parent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.imagJungleanimals {
    border: 2px solid #ff3d0036;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #00000042;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
}

.imagJungleanimals:hover {
    filter: grayscale(1);
    transform: scale(1.03);

}

.car-parent {
    width: 100%;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    justify-content: center;
    display: flex;

}

.car-parent div {
    margin: 20px;
    padding: 10px;

}

.card-element1 {
    width: 18rem;
    background-color: #ffc107;




}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;



}

.svg-image-path {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;

}

.card-element2 {
    width: 18rem;
    margin-bottom: 1rem;
    background-color: #28a745;


}

.card-element3 {
    width: 18rem;
    margin-bottom: 1rem;
    background-color: #17a2b8;
}

.backgroundzebra {
    width: 100%;
    padding: 0px;
    margin-bottom: 3rem;
    margin-top: 3rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


}

.card-img-overlay {
    width: 500px;
    position: absolute;
    justify-content: center;




}

.card-img-overlay h1 {
    justify-content: center;
    display: flex;
    font-size: 2.5rem;
    color: #fff;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: .75rem;
    font-weight: bold;
}

.zebra-email-input {
    display: inline-block;
    width: 50%;

}

.zebra-submit-btn {
    display: inline-block;

}

.zebra-email-input .bg-white {
    color: #343a40;
    background-color: #fff;
    padding: .375rem .75rem;
    border-radius: 5px;
    border: 1px solid #343a40;
    margin-left: 50px;
    color: #fff;


}

.zebra-submit-btn button {
    padding: 10px;
    background-color: #ffc107;
    border-radius: 5px;
    border: 1px solid #343a40;
    margin-left: 50px;
    color: #fff;

}

.endpage {
    background-color: #343a40;
    width: 100%;
    /* margin-top: 1rem; */
    /* justify-content: center;
    align-items: center; */

}

.logo-end-page img {
    margin-top: 10px;
}

.footer-end-page {
    position: relative;
    color: white;
    text-align: center;
}

.li-end-page {
    justify-items: center;
    align-items: center;
}

.li-end-page ul {
    list-style: none;
    display: flex;

}

.li-end-page ul li {
    padding: 10px;
    color: #007bff;
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
        "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.image-icon-social-endpage {
    justify-items: center;
    align-items: center;
}

.image-icon-social-endpage ul {
    list-style: none;
    display: flex;
}

.image-icon-social-endpage ul li {
    padding: 10px;
    margin-top: 1.4 rem;
    margin: 10px;
}

.copyrightText {
    margin-top: 40px;
}

.copyrightText span {
    font-weight: bold;

}